.hero-container{
  position: relative;
  text-align: center;
}
.hero-image{
  width:100%;
}
.overlay{
  position: absolute;
  top:20px;
  width: 100%;
  background:#FFF;
  opacity: .7;
  }
  .hero-hed{
    font-family: 'Arvo', serif;
    font-size: 6em;
    color: #AB52D9;
    padding-bottom: 10px;
    margin:0 auto;

}
.hero-hed{
  margin:0 auto !important
}
.hero-sub{
font-family: 'Arvo', serif;
font-size: .20em;
margin:0 auto;
}
.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.byline{
font-size: 1em;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
text-align: left;
}
.blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color : #AB52D9;
}

p{
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
  font-size: 18px;
}

b{
  color: #AB52D9
}
.sidebar-text-box{
width: 100%;
margin: 0 auto;
border: solid #AB52D9 10px;
margin-top: 25px;
margin-bottom: 25px;
}

.sidebar-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: #AB52D9

}
.sidebar-text-box-intro-text{
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
}
.sidebar-text-box-source-text{
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;


}
.chapter{
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color:#AB52D9;
  font-style: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.caption{
  font-size: 13px;
  text-align: left;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
}
.quote{
  font-family: 'Montserrat', sans-serif;
  color: #AB52D9;
  font-size: 4em;
  font-weight: 800;
  text-align: center;
  width: 1000px;
  padding: 15px 0 15px 0;
border: 15px solid purple;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;


}
.quote-attribution{
  font-size: .4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 90;
  text-align: center;
  color: #000;
  }
  strong{
    color: #AB52D9;
  }
em{
  font-style: bold
}
footer {
font-family: 'Montserrat', sans-serif;
text-align: center;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
  }
footer  {
  background-color: #120202
}
@media (max-width:1000px;){
.hero-hed{
font-size: 2em;
}
.quote{
width: 80%;
font-size: 1em;
}
