.bg-dark{
  background-color: #3BACF2 !important;
}
.name {
  color:#ffffff


  }
  .text-primary{
    font-size: 30px;
  }
.title {
  font-size: 30px;
  font-style: bold;
  color: #ffffff;
}
img{
  text-align: center;
}
h3 {
  text-align: left;
  color: #ffffff;
}
h4 {
  text-align: left;
  color: #ffffff;
}
  h5{
    color: #ffffff;
    font-size: bold
  }
  h6{
    color: #ffffff;
  }
  h7{
    color: #ffffff;
  }
  h8{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
.blue {
  background-color: #3BACF2;
}
.red {
  background-color: #0B6696;
}
.yellow {
  background-color: #2478A5;
}
.black{
  background-color: #1A9FC7;
}
.jumbotron
{
  background-color: #000000;
  text-align: center;
}
