.bg-dark{
  background-color: blue !important;
}
.name {
  color:#ffffff


  }
  .text-primary{
    font-size: 30px;
  }
.title {
  font-size: 30px;
  font-style: bold;
  color: #ffffff;
}
img{
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  }
  h5{
    font-size: bold
  }
.blue {
  background-color: #3BACF2;
}
.red {
  background-color: #0B6696;
}
.yellow {
  background-color: #2478A5
}
.jumbotron
{
  background-color: #000000;
  text-align: center;
}
