.bg-dark{
  background-color: #3BACF2 !important;
}
.name {
  font-family: PT serif, serif;
  color:#ffffff
}
h1{
  padding-right: 45px; !important;
}
  .text-primary{
    font-size: 30px;
  }
.title {
  font-size: 30px;
  font-family: PT serif, serif;
  font-style: bold;
  color: #ffffff;
}


h3 {
  text-align: left;
  font-family: PT Serif, serif;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
h4 {
  text-align: left;
  font-family: PT serif, serif;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;


}
  h5{
    text-align: left;
    font-family: PT serif, serif;
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: bold

  }
  h6{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h7{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h8{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  p{
    color: #ffffff;
    font-family: PT serif, serif;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    }
.blue {
  background-color: #3BACF2;
  padding-right: 0 !important

}
.red {
  background-color: #0B6696;
  padding-right:0 !important

}
.yellow {
  background-color: #2478A5;


}
.black {
  background-color: #1A9FC7 ! important;
  padding-right: 115px; ! important;
  padding-left: 20px;

}
.jumbotron
{margin-bottom:0 !important;
  background-color: #000000;
  text-align: center;
}
.jumbotron {margin-bottom:0 !important;}
