.bg-dark{
  background-color: #3BACF2 !important;
}
.name {
font-family: PT serif, serif;
  color:#ffffff


}
  .text-primary{
    font-size: 30px;
  }
.title {
  font-size: 30px;
  font-family: PT serif, serif;
  font-style: bold;
  color: #ffffff;
}


h3 {
  text-align: left;
  font-family: PT Serif, serif;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
h4 {
  text-align: left;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;


}
  h5{
    text-align: left;
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: bold

  }
  h6{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h7{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h8{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  p{
    color: #ffffff;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    }
.blue {
  background-color: #3BACF2;
}
.red {
  background-color: #0B6696;
}
.yellow {
  background-color: #2478A5;
}
.black{
  background-color: #1A9FC7;
}
.jumbotron
{
  background-color: #000000;
  text-align: center;
}
